<%@ page import="barsha.Region" %>
<!doctype html>
<html>
<head>
    <meta name="layout" content="barsha">
    <g:set var="entityName" value="${message(code: 'region.label', default: 'Region')}"/>
    <title><g:message code="default.list.label" args="[entityName]"/></title>
</head>

<body>
<div class="row-fluid">

    %{--<div class="span3">--}%
    %{--<div class="well">--}%
    %{--<ul class="nav nav-list">--}%
    %{--<li class="nav-header">${entityName}</li>--}%
    %{--<li class="active">--}%
    %{--<g:link class="list" action="list">--}%
    %{--<i class="icon-list icon-white"></i>--}%
    %{--<g:message code="default.list.label" args="[entityName]" />--}%
    %{--</g:link>--}%
    %{--</li>--}%
    %{--<li>--}%
    %{--<g:link class="create" action="create">--}%
    %{--<i class="icon-plus"></i>--}%
    %{--<g:message code="default.create.label" args="[entityName]" />--}%
    %{--</g:link>--}%
    %{--</li>--}%
    %{--</ul>--}%
    %{--</div>--}%
    %{--</div>--}%

    <div>

        <div class="page-header">
            <h1><g:message code="default.list.label" args="[entityName]"/></h1>
        </div>

        <g:if test="${flash.message}">
            <bootstrap:alert class="alert-info">${flash.message}</bootstrap:alert>
        </g:if>

        <table class="table table-striped">
            <thead>
            <tr>

                <g:sortableColumn property="name" title="${message(code: 'region.name.label', default: 'Name')}"/>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <g:each in="${regionInstanceList}" var="regionInstance">
                <tr>

                    <td>${fieldValue(bean: regionInstance, field: "name")}</td>

                    <td class="link">
                        <g:link action="show" id="${regionInstance.id}" class="btn btn-small">Show &raquo;</g:link>
                    </td>
                </tr>
            </g:each>
            </tbody>
        </table>

        <div class="pagination">
            <bootstrap:paginate total="${regionInstanceTotal}"/>
        </div>
    </div>

</div>
</body>
</html>
